*{
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
}

.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7 ),rgba(4,9,30,0.7)),url(Images/telephone-4440525.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 250px; 
    opacity: 100%;  
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links{
    list-style: none;
}

.nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 13px;
     position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    display: block;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 4px;
    background: #130047;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li ul{
    text-align: center;
    position: absolute;
    left: 0%;
    width: 100%;
    background: transparent;
    display: none;
}

.nav-links ul li ul li{
    align-items: left;
    position: relative;
    width: 100%;
    padding: 10;
    left: 0%;
    top: 100%;
    transition: 0.5s;
}
.nav-links ul li ul li:hover::after{
    width: 100%;
}

.nav-links ul li ul a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    text-align: left;
}

.nav-links ul li:focus-within > ul,
.nav-links ul li:hover > ul{
    display: initial;
}

nav .fa{
    display: none;
}

@media(max-width: 600px)
{
    nav img{
        width: 235px; 
        margin-left: -30px;
    }
   
    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #4c2283;
        opacity: 98.5%;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;

    }

    nav .fa{
        display: block;
        opacity: 85%;
        color: rgb(255, 255, 255);
        margin: 30px;
        font-size: 20px;
        cursor: pointer;
    }
      
    .nav-links ul{
        padding: 20px;
    }

    .nav-links ul li ul{
        text-align: center;
        position: relative;
        left: 0%;
        width: 100%;
        background: transparent;
        display: none;
    }
    
    .nav-links ul li ul li{
        display: block;
        align-items: left;
        position: relative;
        width: 100%;
        padding: 10;
        left: 0%;
        top: 100%;

    }
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 20px; 
    width: 50px;
    z-index: 100; 
    border: none;
    outline: none; 
    background-color: rgba(0, 0, 0, 0.255); 
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    font-size: 24px;
  }
  
  #myBtn:hover {
    background-color: rgb(57, 53, 58); 
    transition: 0.8s;

  }
 
 * {
      margin: 0;
      padding: 0;
      box-sizing:boder-box;
      
}
  body,
  input,
  textarea{font-family:"popins",sans-serif;
}
.container{
    position: relative;
    width: 100%;
    min-height:100vh;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;


}
.form{
  width: 100%;
  max-width: 1000px;
  height: 600px;
  background-color: rgba(211, 212, 211, 0.308);
  border-radius: 4px ;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  overflow: hidden;
  grid-template-columns: repeat(2,1fr ); 
}
.contact-fome {
    background-color: #130047;
    position: relative;
}
.circle{
  
 border-radius: 50%;
 background: linear-gradient(135deg,transparent 20% );
 position: absolute;

}
.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right:-40px
}
.circle.tow{
    width: 80px;
    height: 800px;
    top: 10px;
    right:30px;
}
.contact-form: before{
     content: "";
     position:  absolute;
     width:26px;
     height: 26px;
     background-color: red ;
     transform: rotate(45deg)

}