*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
}

.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.479),rgba(4, 9, 30, 0.479)),url(Images/question-3707306.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}