*{
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
}

.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7 ),rgba(4,9,30,0.7)),url(Images/dawn-1840298.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 250px; 
    opacity: 100%;  
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links{
    list-style: none;
}

.nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 13px;
     position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    display: block;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 4px;
    background: #130047;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li ul{
    text-align: center;
    position: absolute;
    left: 0%;
    width: 100%;
    background: transparent;
    display: none;
}

.nav-links ul li ul li{
    align-items: left;
    position: relative;
    width: 100%;
    padding: 10;
    left: 0%;
    top: 100%;
    transition: 0.5s;
}
.nav-links ul li ul li:hover::after{
    width: 100%;
}

.nav-links ul li ul a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    text-align: left;
}

.nav-links ul li:focus-within > ul,
.nav-links ul li:hover > ul{
    display: initial;
}

nav .fa{
    display: none;
}

@media(max-width: 600px)
{
    nav img{
        width: 235px; 
        margin-left: -30px;
    }
   
    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #4c2283;
        opacity: 98.5%;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;

    }

    nav .fa{
        display: block;
        opacity: 85%;
        color: rgb(255, 255, 255);
        margin: 30px;
        font-size: 20px;
        cursor: pointer;
    }
      
    .nav-links ul{
        padding: 20px;
    }

    .nav-links ul li ul{
        text-align: center;
        position: relative;
        left: 0%;
        width: 100%;
        background: transparent;
        display: none;
    }
    
    .nav-links ul li ul li{
        display: block;
        align-items: left;
        position: relative;
        width: 100%;
        padding: 10;
        left: 0%;
        top: 100%;

    }
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 20px; 
    width: 50px;
    z-index: 100; 
    border: none;
    outline: none; 
    background-color: rgba(0, 0, 0, 0.255); 
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    font-size: 24px;
  }
  
  #myBtn:hover {
    background-color: rgb(57, 53, 58); 
    transition: 0.8s;

  }

  /* EBooks */

  .row
  {
    margin:10px;
    display: flex;
    justify-content: space-between;

  }

.column
{
  flex-basis: 30%;
  box-sizing: border-box;
  background: #222324;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px 28px;
  transition: 0.5s;
  overflow: hidden;
}

.column img
{
  width: 100%;
  display: block;
}

  .row > .column 
  {
    padding: 5 8px;
    flex-basis: 30%;
    margin-left: 60px;
    position: relative;
    text-align: center;
  }

  /* .layer
  {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover
{
    background: rgba(233, 66, 37, 0.7);
    cursor: pointer;

}
.layer h3
{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.7s;
}
.layer:hover h3
{
bottom: 49%;
opacity: 1;
} */
  
  .row:after 
  {
    content: "";
flex-basis: 30%;
    clear: both;
    
  }



/* footer */

.footer{
    background-color: rgba(41, 121, 131, 0.883);
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}

.footer p{
    font-size: 24px;
}

.icons{
color: rgb(0, 26, 255);
font-size: 30px;
}






























